# This prevents IDE-specific configurations from being committed to the repository, ensuring that collaborators
# are not affected by personal or machine-specific settings.
venv/
.venv/
**/__pycache__/

**/.DS_Store

*/.bin
**/*.pyc
**/__pycache__
**/*.pyo

**/.metadata/
**/.syncEntries
**/output/
**/target/
**/sortie/
**/reports/
**/rapports/
**/resdb.lock.db
**/rtsdb.lock.db
**/resdb.mv.db.bak
**/rtsdb.mv.db.bak
**/*.class
**/*.zip
**/.settings/
**/.classpath

.streamlit/secrets.toml
**/~$*.xlsx
**/test.py
.env
.env.production
.env.local
.env.*.local
docker-compose.prod.yml.backup

**/log_file.log
**/server.log
**/trusted-service-api.log
