apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: trusted-services-runtime
  namespace: trusted-services
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: scw-bssd
